<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="all" />
    <title>我的博客</title>
    <script th:src="@{/style/js/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/style/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/style/css/dianzan.css}" />
    <link rel="stylesheet" th:href="@{/style/css/animate.min.css}" />
    <link rel="stylesheet" th:href="@{/lib/prism/prism.css}">
    <link rel="stylesheet" th:href="@{/style/css/typo.css}">
    <link rel="stylesheet" th:href="@{/index/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" href="//cdn.bootcss.com/gitalk/1.5.0/gitalk.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" th:href="@{/index/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/index/css/master.css}" />
    <link rel="stylesheet" th:href="@{/index/css/gloable.css}" />
    <link rel="stylesheet" th:href="@{/index/css/blog.css}" />
</head>
<body>
<header class="gird-header">
    <div class="header-fixed">
        <div class="header-inner">
            <a href="javascript:void(0)" class="header-logo" id="logo" ></a>
            <nav class="nav" id="nav" >
                <ul >
                    <li th:if="${session.reader==1}"><a th:href="@{/login/return}">首页</a></li>
                    <li th:if="${session.reader==1}"><a th:href="@{/user/article}">博客</a></li>
                    <li th:if="${session.reader==1}"><a th:href="@{/user/edit}">编辑</a></li>
                    <li th:if="${session.reader==1}"><a th:href="@{/message/diary}">日记</a></li>
                    <li th:if="${session.reader==1}" ><a th:href="@{/blog/message}">信息</a></li>
                    <li th:if="${session.reader==1}" style="padding-right:100px; height: 40px">
                        <div class="search" >
                            <label class="search-wrap">
                                <input type="text" id="searchtxt" name="title" style="border:0.5px #378888" placeholder="输入关键字搜索" />
                                <span  class="search-icon">
											<i class="fa fa-search"></i>
										</span>
                            </label>
                            <ul class="search-result" ></ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <a class="phone-menu">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </div>
    </div>
</header>
<div class="doc-container animated shake" id="doc-container" >
    <div class="container-fixed" style="padding: 0 100px">
        <div class="col-content" style="width:100%">
            <div class="inner">
                <article class="article-list" th:object="${blog}" >
                    <section class="article-item">
                        <aside class="title" style="line-height:1.5;">
                            <h4 th:text="*{title}">标题</h4>
                            <p class="fc-grey fs-14">
                                <small>
                                    作者：<a href="javascript:void(0)"  class="fc-link" th:text="${author}">作者名</a>
                                </small>
                                <small class="ml10">阅读量：<i class="readcount" th:text="*{pageview}">1</i></small>
                                <small class="ml10">更新于 <label th:text="*{#dates.format(alterTime,'yyyy-MM-dd HH:mm:ss')}">2022-03-28:00:00:00</label> </small>
                                <span style="float: right" class="badge badge-danger" th:text="*{tieba}">分类</span>
                            </p>
                        </aside>
                        <div class="content artiledetail " style="border-bottom: 1px solid #e1e2e0; padding-bottom: 20px; ">
                           <div class="typo typo-selection" id="wrapper" th:utext="*{content}">

                           </div>
                            <div class="copyright mt20">
                                <p class="f-toe fc-black">
                                    非特殊说明，转载请注明出处.
                                </p>
                                <p class="f-toe">
                                    本文标题：
                                    <a href="javascript:void(0)" class="r-title" th:text="*{title}"></a>
                                </p>
                                <p class="f-toe">
                                    发布于：
                                    <a href="javascript:void(0)" class="r-title" th:text="*{ipAddress}"></a>
                                </p>

                            </div>
                            <!--评论-->
                            <div  style="margin: 0 auto">
                                <div id="gitalk-container">
                                </div>
                            </div>
                        </div>
                        <ul class="blog-comment" id="blog-comment"></ul>
                    </section>
                </article>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script th:src="@{/index/layui/layui.js}"></script>
<script th:src="@{/lib/prism/prism.js}"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
<script th:src="@{/style/js/bootstrap.min.js}"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script th:src="@{/index/js/yss/gloable.js}"></script>
<script>NProgress.start();</script>
<script th:src="@{/style/js/dianzan.js}"></script>
<script type="text/javascript" color="0,0,255" opacity='0.7' zIndex="-2" count="99"
        src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '1a51de6c6d6349b107fc', // GitHub Application Client ID
        clientSecret: '78d46ca0c194efc80b7738b40dc5185411ad3654', // GitHub Application Client Secret
        repo: 'comment',      // 存放评论的仓库
        owner: 'hotdogxhd',          // 仓库的创建者，
        admin: ['hotdogxhd'],        // 如果仓库有多个人可以操作，那么在这里以数组形式写出
        id: window.location.search,      // 用于标记评论是哪个页面的，确保唯一，并且长度小于50
    })
    gitalk.render('gitalk-container');    // 渲染Gitalk评论组件
   // 到顶部
    $('#toTop').click(function () {
        $(window).scrollTo(0,500);
    });

</script>
</body>
</html>
