.alert alert-danger{
    background-image: url("/static/index/image/1.jpg");
}
.errordiv{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
strong{
    text-align: center;
}
